#root {
    max-width: 1200px;
    margin: 0 auto;
  }

  img{
      border: 2px solid black;
      margin: 12px;
      padding: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }

  h1{
      margin: 12px;
  }

 p{
      margin: 12px;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }