body{
    padding: 50px;
    background-color: #222222;
}

#container{
    display: flex;
    justify-content: flex;
}

/*Todo List*/

.todoListMain .header input{
    padding: 10px;
    font-size: 15px;
    border: 2px solid white;
}
